.nav_container {
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  /* left: -100%; */
  background: #ebd300;
  z-index: 999;
  -webkit-transition: left .7s cubic-bezier(1, .5, .38, 1.2);
  transition: left .7s cubic-bezier(1, .5, .38, 1.2)
}

.nav_container .nav_container__word {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: transparent url(../img/menu.svg) no-repeat center */
}

.nav_container .nav-btn__exid {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  bottom: 0;
  left: 1%;
  margin: auto;
  cursor: pointer
}

.nav_container .nav-btn__exid .modal_close_leftLine,
.nav_container .nav-btn__exid .modal_close_rightLine {
  background: #000;
  height: 3px
}

.nav_container .nav-btn__exid:hover .modal_close_leftLine,
.nav_container .nav-btn__exid:hover .modal_close_rightLine {
  background: #fff
}

.nav_container .nav_menu:nth-child(1) {
  display: block
}

.nav_container .nav_menu:nth-child(2) {
  display: none
}

.nav_container .nav_menu__container {
  margin-top: 5%;
  text-align: center;
  padding: 0 100px;
  opacity: 0;
  -webkit-animation-fill-mode: forwards !important;
  animation-fill-mode: forwards !important;
  -webkit-animation-delay: .8s !important;
  animation-delay: .8s !important
}

.nav_container .nav_menu__container .nav_menu {
  list-style: none;
  padding-right: 10%;
  margin-right: 150px
}

.nav_container .nav_menu__container .nav_menu .nav_menu__item {
  position: relative;
  font-size: 75px;
  text-transform: uppercase;
  text-align: right;
  margin: 10px 0
}

.nav_container .nav_menu__container .nav_menu .nav_menu__item a {
  text-decoration: none;
  color: #000;
  font-family: BebasNeueBold, sans-serif;
  -webkit-transition: color .1s cubic-bezier(1, .5, .38, 1.2), margin-right .35s cubic-bezier(1, .5, .38, 1.2);
  transition: color .1s cubic-bezier(1, .5, .38, 1.2), margin-right .35s cubic-bezier(1, .5, .38, 1.2);
  margin-right: 100px
}

.nav_container .nav_menu__container .nav_menu .nav_menu__item a:hover {
  color: #fff;
  margin-right: 80px;
  padding-left: 40px
}

.nav_container .nav_menu__container .nav_menu .nav_menu__item a:hover+span {
  right: -4%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.nav_container .nav_menu__container .nav_menu .nav_menu__item a:hover+span:after {
  top: 115%
}

.nav_container .nav_menu__container .nav_menu .nav_menu__item span {
  position: absolute;
  top: -18%;
  right: 1.5%;
  padding: 110px 0 0 10px;
  font-size: 40px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #000;
  font-family: BebasNeueRegular, sans-serif;
  -webkit-transition: all .35s cubic-bezier(.68, -.19, 0, 1.37);
  transition: all .35s cubic-bezier(.68, -.19, 0, 1.37);
  overflow: hidden
}

.nav_container .nav_menu__container .nav_menu .nav_menu__item span:after {
  content: "";
  position: absolute;
  right: -42px;
  top: -100%;
  width: 170px;
  height: 1px;
  display: block;
  background: #000;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: top .35s cubic-bezier(.68, -.19, 0, 1.37);
  transition: top .35s cubic-bezier(.68, -.19, 0, 1.37)
}

.nav_container .nav_menu__container .nav_menu .nav_menu__item span:before {
  content: ".";
  opacity: 0
}

.nav_container .call_back__callBtn:after,
.nav_container .local_item:after,
.nav_container .social_item:after {
  color: #fff
}

.nav_container .call_back__callBtn,
.nav_container .local_item,
.nav_container .social_item {
  color: #000 !important
}

.nav_container .logo svg .cls-1 {
  fill: #000 !important
}

@media screen and (max-width:1368px) {
  .nav_container .nav_menu__container {
    margin-top: 15vh;
    padding: 0
  }

  .nav_container .nav_menu__container .nav_menu .nav_menu__item span:after {
    right: -55px
  }

  .nav_container .nav_menu__container .nav_menu {
    padding-right: 0
  }

  .nav_container .nav_menu__container .nav_menu .nav_menu__item {
    font-size: 3.5rem
  }

  .nav_container .nav_menu__container .nav_menu .nav_menu__item span {
    font-size: 2rem;
    top: -30%
  }

  .nav_container .nav_container__word {
    bottom: 0
  }

  .nav_container .nav-btn__exid {
    width: 30px;
    left: 1%
  }
}

@media screen and (max-width:960px) {
  .nav_container .nav_menu:nth-child(1) {
    display: none
  }

  .nav_container .nav_menu:nth-child(2) {
    display: block
  }

  .nav_container {
    overflow-y: auto;
    overflow-x: hidden
  }

  .nav_container .nav_menu__container .nav_menu {
    margin-right: 10%
  }

  .nav_container .nav_menu__container .nav_menu .nav_menu__item {
    font-size: 2rem
  }

  .nav_container .nav_menu__container .nav_menu .nav_menu__item span {
    display: none
  }

  .nav_container .nav_menu__container .nav_menu .nav_menu__item a {
    margin-right: 0
  }

  .nav_container .nav_menu__container .nav_menu .nav_menu__item a:hover {
    margin-right: 10px;
    padding-left: 0
  }
}
