.services_title__sub {
  max-width: 25%;
  margin: 8% 0 10% 20%;
  opacity: 0;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

#about-me .services_title__sub {
  max-width: 35%;
}

#skills .services_title__sub {
  max-width: 35%;
  margin: 7% 0 10% 7%;
}

#portfolio .services_title__sub {
  max-width: 35%;
  margin: 7% 0 10% 7%;
}
#portfolio .services_title__sub h3{
  color: white;
}

.services_title__sub h3,
.services_title__sub h4 {
  font-size: 1.3rem;
  color: #323232;
  font-weight: 400
}


@media screen and (max-width:1920px) {

  .services_title__sub h3,
  .services_title__sub h4 {
    font-size: 1vw;
  }
}

@media screen and (max-width:1368px) {

  .services_title__sub h3,
  .services_title__sub h4 {
    font-size: 1.5vw
  }
}

@media screen and (max-height:768px) and (max-width:1366px) {
  .services_title__sub h3,
  .services_title__sub h4 {
    font-size: 1vw;
  }
}

@media screen and (max-width:960px) {
  #about-me .services_title__sub {
    max-width: 100%;
  }
    #skills .services_title__sub {
    max-width: 100%;
    margin: 8% 8% 10% 10%;
  }
}
