.left_bord {
  width: 100px;
  height: 100%;
  position: fixed;
  background: 0 0;
  z-index: 99
}

.left_bord {
  left: 0
}

.left_bord .menu_btn {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 10px;
  width: 65px;
  height: 30px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  cursor: pointer
}

.menu_btn__container {
  position: relative;
  width: 100%;
  height: 100%
}

.menu_btn__container .menu_btn__text {
  position: absolute;
  top: 3px;
  width: 100%;
  font-family: BebasNeueBold, sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  text-align: center
}

.menu_btn__container .menu_btn__text:nth-child(2) {
  color: #e8cd07
}

.menu_btn__container .menu_btn__text:nth-child(3) {
  color: #6d6d6d
}


.menu_btn__container .word {

  position: absolute;
  width: 100%;
  opacity: 0
}

.menu_btn__container .letter {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(15px);
  transform: translateZ(15px);
  -webkit-transform-origin: 50% 50% 15px;
  -ms-transform-origin: 50% 50% 15px;
  transform-origin: 50% 50% 15px
}

.menu_btn__container .letter.out {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform .32s cubic-bezier(.55, .055, .675, .19);
  transition: -webkit-transform .32s cubic-bezier(.55, .055, .675, .19);
  transition: transform .32s cubic-bezier(.55, .055, .675, .19);
  transition: transform .32s cubic-bezier(.55, .055, .675, .19), -webkit-transform .32s cubic-bezier(.55, .055, .675, .19)
}

.menu_btn__container .letter.behind {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg)
}


.menu_btn__container .letter.in {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  -webkit-transition: -webkit-transform .38s cubic-bezier(.175, .885, .32, 1.275);
  transition: -webkit-transform .38s cubic-bezier(.175, .885, .32, 1.275);
  transition: transform .38s cubic-bezier(.175, .885, .32, 1.275);
  transition: transform .38s cubic-bezier(.175, .885, .32, 1.275), -webkit-transform .38s cubic-bezier(.175, .885, .32, 1.275)
}

.nav_container .nav_container__word {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: transparent url(../img/menu.svg) no-repeat center */
}

.social_wrap {
  cursor: pointer;
  position: absolute;
  bottom: 10.8%;
  left: -35px;
  width: 160px;
  height: 25px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  overflow: hidden
}

.social_wrap .social_item {
  font-size: 24px;
  font-family: BebasNeueBold, sans-serif;
  color: #000;
  text-decoration: none;
  margin: 0 5px;
  position: absolute;
  top: 0;
  -webkit-transition: all .5s cubic-bezier(1, .5, .38, 1.2);
  transition: all .5s cubic-bezier(1, .5, .38, 1.2)
}

.social_wrap .social_item:after {
  position: absolute;
  left: 0;
  display: block;
  top: -100%;
  color: #ebd300
}

.social_wrap .social_item:nth-child(1) {
  left: 0
}

.social_wrap .social_item:nth-child(1):after {
  content: "FB"
}

.social_wrap .social_item:nth-child(2) {
  left: 20%
}

.social_wrap .social_item:nth-child(2):after {
  content: "IG"
}

.social_wrap .social_item:nth-child(3) {
  left: 40%
}

.social_wrap .social_item:nth-child(3):after {
  content: "YT"
}

.social_wrap .social_item:nth-child(4) {
  left: 60%
}

.social_wrap .social_item:nth-child(4):after {
  content: "TW"
}

.social_wrap .social_item:hover {
  top: 100%
}

.social_item{
  color: #000;
}

.nav_container .call_back__callBtn:after,
.nav_container .local_item:after,
.nav_container .social_item:after {
    color: #fff
}

.nav_container .call_back__callBtn,
.nav_container .local_item,
.nav_container .social_item {
    color: #000!important
}

@media screen and (max-width:1368px) {

  .right_bord {
    width: 50px
  }

  .left_bord .menu_btn {
    left: -10px
  }

  .left_bord .menu_btn {
    left: -8px
  }

  .left_bord .menu_btn .menu_btn__container .menu_btn__text {
    font-size: 20px
  }

  .nav_container .nav_container__word {
    bottom: 0
  }

  .social_wrap {
    left: -53px;
    bottom: 11.8%;
    z-index: 50
  }

  .social_wrap .social_item {
    font-size: 20px
  }
}

@media screen and (max-width:960px) {

  .left_bord {
    display: none
  }

  .left_bord .menu_btn {
    left: -10px
  }

  .left_bord .menu_btn {
    left: -8px
  }

  .left_bord .menu_btn .menu_btn__container .menu_btn__text {
    font-size: 20px
  }

  .small_menu .small_menu_btn__wrapper {
    position: fixed;
    width: 70px;
    top: 0;
    right: 15px;
    height: 55px;
    border: 1px red;
    padding-top: 12px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer
  }

  .small_menu .small_menu_btn__wrapper .small_menu_btn__line {
    text-align: right;
    width: 30px;
    height: 1px;
    background: #fff;
    margin: 6px 0
  }

  .small_menu .small_menu_btn__wrapper .small_menu_btn__line:nth-child(2) {
    width: 25px
  }

  .small_menu .small_menu_btn__wrapper .small_menu_btn__line:nth-child(3) {
    width: 30px
  }

  @-webkit-keyframes small_menu_btn__text {
    0% {
      top: 0
    }

    5% {
      top: 152px
    }

    50% {
      top: 152px
    }

    55% {
      top: 0
    }

    100% {
      top: 0
    }
  }

  @keyframes small_menu_btn__text {
    0% {
      top: 0
    }

    5% {
      top: 152px
    }

    50% {
      top: 152px
    }

    55% {
      top: 0
    }

    100% {
      top: 0
    }
  }
}
