.right_bord {
  right: 0
}

.right_bord {
    width: 100px;
    height: 100%;
    position: fixed;
    background: 0 0;
    z-index: 99;
}

.right_bord .numberPage_count {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 5px;
  text-align: center;
  font-size: 24px;
  font-family: BebasNeueLight, sans-serif
}

.right_bord .numberPage_wrapCont {
  position: absolute;
  top: 40%;
  bottom: 0;
  height: 300px;
  right: 40px
}

.right_bord .numberPage_wrap {
  width: 20px;
  height: 100%;
  text-align: center;
  overflow: hidden
}

.right_bord .numberPage_wrap .numberPage_dotWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.numberPage_item {
  padding-top: 0px;
  padding-bottom: 0px;
}

.right_bord .numberPage_wrap .numberPage_dotWrap .numberPage_item {
  position: relative;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease
}

.right_bord .numberPage_wrap .numberPage_dotWrap .numberPage_item .numberPage_item__dot {
  display: block;
  width: 8px;
  height: 8px;
  background: #1e1e1e;
  margin: 6px auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, .5);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-transition: all .5s ease;
  transition: all .5s ease
}

.right_bord .numberPage_wrap .numberPage_dotWrap .numberPage_item .numberPage_item__line {
  position: absolute;
  width: 1px;
  height: 30px;
  background: #1e1e1e;
  top: 50px;
  opacity: 0;
  -webkit-box-shadow: -3px 3px 5px rgba(0, 0, 0, .5);
  box-shadow: -3px 3px 5px rgba(0, 0, 0, .5);
  -webkit-transition: all .25s ease;
  transition: all .25s ease
}

.right_bord .numberPage_wrap .numberPage_dotWrap .numberPage_item .numberPage_item__count {
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 0;
  color: #1e1e1e;
  text-shadow: 0 0 1px rgba(0, 0, 0, .5);
  -webkit-transition: all .25s ease;
  transition: all .25s ease
}

.right_bord .numberPage_wrap .numberPage_dotWrap .numberPage_item:hover .numberPage_item__dot {
  background-color: #ebd300 !important
}

.right_bord .numberPage_wrap .numberPage_dotWrap .numberPage_item:hover {
  padding-top: 30px !important;
  padding-bottom: 60px !important
}

.right_bord .numberPage_wrap .numberPage_dotWrap .numberPage_item:hover .numberPage_item__count,
.right_bord .numberPage_wrap .numberPage_dotWrap .numberPage_item:hover .numberPage_item__line {
  opacity: 1 !important;
  -webkit-transition: all .5s ease !important;
  transition: all .5s ease !important
}

.right_bord .numberPage_wrap .numberPage_dotWrap .numberPage_item:hover:nth-child(7) .numberPage_item__line {
  opacity: 0 !important
}

.right_bord .numberPage_wrap .numberPage_dotWrap .numberPage_item:hover .numberPage_item__count {
  top: 10px !important
}

@media screen and (max-width:1368px) {
  .right_bord {
    width: 50px
  }

  .right_bord .numberPage_wrapCont {
    right: 16px
  }

  .right_bord .numberPage_wrapCont .numberPage_count {
    font-size: 20px
  }



  .call_back {
    width: 102px;
    right: -23px;
    font-size: 20px
  }
}

@media screen and (max-width:960px) {
  .right_bord {
    display: none
  }
}
